# Import Libraries

In [2]:
import pandas as pd
import numpy as np
import re

# Read csv file

In [3]:
data = pd.read_csv(r'C:\Users\maeve\AIB 14\Section6\Codestates Project 2\data\jongang_isbn_202211270215.csv')
data.shape

C:\Users\maeve\AppData\Local\Temp\ipykernel_17112\3576340442.py:1: DtypeWarning: Columns (5,10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r'C:\Users\maeve\AIB 14\Section6\Codestates Project 2\data\jongang_isbn_202211270215.csv')

(4434961, 11)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4434961 entries, 0 to 4434960
Data columns (total 11 columns):
 #   Column         Dtype
---  ------         -----
 0   index          int64
 1   title          object
 2   author         object
 3   pub_year       float64
 4   pub            object
 5   isbn_add_code  object
 6   repub          object
 7   isbn           object
 8   ebook          object
 9   price          object
 10  SUBJECT        object
dtypes: float64(1), int64(1), object(9)
memory usage: 372.2+ MB

# TO-DO
- title 중복 -> 삭제
- pub_year 결측값 대체+연/월/일 쪼개기
- isbn_add_code -> 
- isbn ->
- SUBJECT

+ 결측치 처리방법
- 타이틀은 삭제
- isbn_add_code 유지 
- isbn 유지

- +a

In [5]:
# 함수화 - 필요없음!!

# def jd_isbn(df)

In [6]:
data.isnull().sum() # 컬럼별 결측치 개수 확인

# 컬럼명(타입명, 결측치 수)
# title(object, 271): 삭제
# author(object, 69631): Unknown
# pub_year(float64, 49134): 0
# pub(object, 36): Unknown
# isbn_add_code(object, 246150): Unknown
# repub(object, 4147910): NA
# isbn(object, 229784): Unknown
# price(object, 110455): Unknown
# SUBJECT(object, 67594): Unknown

index                  0
title                271
author             69631
pub_year           49134
pub                   36
isbn_add_code     246150
repub            4147910
isbn              229784
ebook                  0
price             110455
SUBJECT            67594
dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4434961 entries, 0 to 4434960
Data columns (total 11 columns):
 #   Column         Dtype
---  ------         -----
 0   index          int64
 1   title          object
 2   author         object
 3   pub_year       float64
 4   pub            object
 5   isbn_add_code  object
 6   repub          object
 7   isbn           object
 8   ebook          object
 9   price          object
 10  SUBJECT        object
dtypes: float64(1), int64(1), object(9)
memory usage: 372.2+ MB

In [8]:
df = data.copy()

title 결측치 제거+5개 칼럼 .fillna()

In [30]:
df = df[df.title.isnull() != True] # 271개 삭제 후: (4434690, 11)

df.author = df.author.fillna('Unknown')
df.pub = df.pub.fillna('Unknown')
df.repub = df.pub.fillna('NA')
df.price = df.price.fillna('Unknown')
df.SUBJECT = df.SUBJECT.fillna('Unknown')

df.head(5)

,index,title,author,pub_year,pub,isbn_add_code,repub,isbn,ebook,price,SUBJECT
0,0,21세기 사회주의,지은이: 콜린 바커 ;옮긴이: 이수현,20130528.0,(노동자연대) 다함께,3300.0,(노동자연대) 다함께,9788996911043,N,3000,3.0
1,0,질풍노도 연재 120,금강,20130701.0,문피아,5810.0,문피아,9791130515137,Y,100,8.0
2,0,2013년 (중간시험 범위) 중간고사 기출예상문제 1-2,편집부,20130826.0,(주)천재교육,63370.0,(주)천재교육,9788926970546,N,10000,3.0
3,0,부동산가격공시 및 토지취득보상법 판례해설,도승하,20130701.0,(주)리북스커뮤니티,13360.0,(주)리북스커뮤니티,9788964241110,N,18000,3.0
4,0,장화홍련전 홍련에게 질투를 하여튼 못난 것들이 꼬라지하고는,신종훈,20130707.0,크리에이티브라이프,3810.0,크리에이티브라이프,9788997216048,N,3000,8.0

pub_year.fillna(0)+정수화

In [31]:
df.pub_year = df.pub_year.fillna(0)
df.pub_year = df.pub_year.astype('str')

df.head(5)

,index,title,author,pub_year,pub,isbn_add_code,repub,isbn,ebook,price,SUBJECT
0,0,21세기 사회주의,지은이: 콜린 바커 ;옮긴이: 이수현,20130528.0,(노동자연대) 다함께,3300.0,(노동자연대) 다함께,9788996911043,N,3000,3.0
1,0,질풍노도 연재 120,금강,20130701.0,문피아,5810.0,문피아,9791130515137,Y,100,8.0
2,0,2013년 (중간시험 범위) 중간고사 기출예상문제 1-2,편집부,20130826.0,(주)천재교육,63370.0,(주)천재교육,9788926970546,N,10000,3.0
3,0,부동산가격공시 및 토지취득보상법 판례해설,도승하,20130701.0,(주)리북스커뮤니티,13360.0,(주)리북스커뮤니티,9788964241110,N,18000,3.0
4,0,장화홍련전 홍련에게 질투를 하여튼 못난 것들이 꼬라지하고는,신종훈,20130707.0,크리에이티브라이프,3810.0,크리에이티브라이프,9788997216048,N,3000,8.0

In [32]:
df.pub_year[0][:4], df.pub_year[0][4:6], df.pub_year[0][6:]

('2013', '05', '28.0')

pub_year-> pub_date로 컬럼명 변경+연/월/일 떼어내기

In [33]:
df = df.rename(columns={'pub_year': 'pub_date'})

df.head(5)

,index,title,author,pub_date,pub,isbn_add_code,repub,isbn,ebook,price,SUBJECT
0,0,21세기 사회주의,지은이: 콜린 바커 ;옮긴이: 이수현,20130528.0,(노동자연대) 다함께,3300.0,(노동자연대) 다함께,9788996911043,N,3000,3.0
1,0,질풍노도 연재 120,금강,20130701.0,문피아,5810.0,문피아,9791130515137,Y,100,8.0
2,0,2013년 (중간시험 범위) 중간고사 기출예상문제 1-2,편집부,20130826.0,(주)천재교육,63370.0,(주)천재교육,9788926970546,N,10000,3.0
3,0,부동산가격공시 및 토지취득보상법 판례해설,도승하,20130701.0,(주)리북스커뮤니티,13360.0,(주)리북스커뮤니티,9788964241110,N,18000,3.0
4,0,장화홍련전 홍련에게 질투를 하여튼 못난 것들이 꼬라지하고는,신종훈,20130707.0,크리에이티브라이프,3810.0,크리에이티브라이프,9788997216048,N,3000,8.0

In [34]:
df['pub_year'] = df['pub_date'].str.slice(0,4)
df['pub_month'] = df['pub_date'].str.slice(4,6)
df['pub_day'] = df['pub_date'].str.slice(6,8)

df.head(5)

,index,title,author,pub_date,pub,isbn_add_code,repub,isbn,ebook,price,SUBJECT,pub_year,pub_month,pub_day
0,0,21세기 사회주의,지은이: 콜린 바커 ;옮긴이: 이수현,20130528.0,(노동자연대) 다함께,3300.0,(노동자연대) 다함께,9788996911043,N,3000,3.0,2013,05,28
1,0,질풍노도 연재 120,금강,20130701.0,문피아,5810.0,문피아,9791130515137,Y,100,8.0,2013,07,01
2,0,2013년 (중간시험 범위) 중간고사 기출예상문제 1-2,편집부,20130826.0,(주)천재교육,63370.0,(주)천재교육,9788926970546,N,10000,3.0,2013,08,26
3,0,부동산가격공시 및 토지취득보상법 판례해설,도승하,20130701.0,(주)리북스커뮤니티,13360.0,(주)리북스커뮤니티,9788964241110,N,18000,3.0,2013,07,01
4,0,장화홍련전 홍련에게 질투를 하여튼 못난 것들이 꼬라지하고는,신종훈,20130707.0,크리에이티브라이프,3810.0,크리에이티브라이프,9788997216048,N,3000,8.0,2013,07,07

SUBJECT 결측값 처리+.0 떼어내기

In [35]:
# df = data.copy()
# '' 'Unknown'
def custom(x):
   # if np.isnan(str(x)):
   #    return str('Unknown')
   # else:
   #  return x
   # if len(str(x)) > 0 : 
   #    return x 
   # else:
   #    return 'unknown'
   if str(x) == '': # float타입은 null 값도 0.0으로 받음!
      return 'Unknown'
   else:
      return x

df["SUBJECT"] = df.apply(lambda x: custom(x["SUBJECT"]), axis = 1)
df.SUBJECT.unique()

array([3.0, 8.0, 7.0, 'Unknown', 5.0, 9.0, 2.0, 1.0, 4.0, 6.0, '7', '3',
       '8', '4', '5', '2', '9', '0', '6', '1', 't', 'e', 'T', 'E'],
      dtype=object)

In [36]:
# 0~9 사이의 값. 이외에는 Unknown 으로 처리

df.SUBJECT = df.SUBJECT.astype('str')
df.SUBJECT = df.SUBJECT.str.replace('0.0', '0', regex = True)
df.SUBJECT = df.SUBJECT.str.replace('1.0', '1', regex = True)
df.SUBJECT = df.SUBJECT.str.replace('2.0', '2', regex = True)
df.SUBJECT = df.SUBJECT.str.replace('3.0', '3', regex = True)
df.SUBJECT = df.SUBJECT.str.replace('4.0', '4', regex = True)
df.SUBJECT = df.SUBJECT.str.replace('5.0', '5', regex = True)
df.SUBJECT = df.SUBJECT.str.replace('6.0', '6', regex = True)
df.SUBJECT = df.SUBJECT.str.replace('7.0', '7', regex = True)
df.SUBJECT = df.SUBJECT.str.replace('8.0', '8', regex = True)
df.SUBJECT = df.SUBJECT.str.replace('9.0', '9', regex = True)
df.SUBJECT = df.SUBJECT.str.replace('[eEtT]','Unknown', regex = True)
# df.SUBJECT = df.SUBJECT.str.replace('','Unknown'): 안됨!!

def custom(x):
   if str(x) == '': # float타입은 null 값도 0.0으로 받음!
      return 'Unknown'
   else:
      return x

df["SUBJECT"] = df.apply(lambda x: custom(x["SUBJECT"]), axis = 1)
df.SUBJECT.unique()

array(['3', '8', '7', 'Unknown', '5', '9', '2', '1', '4', '6', '0'],
      dtype=object)

In [16]:
df.SUBJECT = df.SUBJECT.str.replace('[eEtT]','Unknown', regex = True)
df.SUBJECT.unique()

array(['3', '8', '7', '0', '5', '9', '2', '1', '4', '6', 'Unknown'],
      dtype=object)

In [17]:
data.iloc[10]

index                                0
title            디자인 패턴을 적용한 임베디드 시스템
author             엘레시아 화이트 지음 ;우정은 옮김
pub_year                    20130601.0
pub                           한빛미디어(주)
isbn_add_code                  13000.0
repub                              NaN
isbn                     9788968480195
ebook                                N
price                            26000
SUBJECT                            0.0
Name: 10, dtype: object

In [18]:
df.iloc[10]

index                                0
title            디자인 패턴을 적용한 임베디드 시스템
author             엘레시아 화이트 지음 ;우정은 옮김
pub_date                    20130601.0
pub                           한빛미디어(주)
isbn_add_code                  13000.0
repub                         한빛미디어(주)
isbn                     9788968480195
ebook                                N
price                            26000
SUBJECT                              0
pub_year                          2013
pub_month                           06
pub_day                             01
Name: 10, dtype: object

In [21]:
df.SUBJECT.unique()

array(['3', '8', '7', '0', '5', '9', '2', '1', '4', '6', 'Unknown'],
      dtype=object)

In [23]:
df.SUBJECT.dtype

dtype('O')

In [24]:
# df = data.copy()
# '' 'Unknown'
def custom(x):
   # if np.isnan(str(x)):
   #    return str('Unknown')
   # else:
   #  return x
   # if len(str(x)) > 0 : 
   #    return x 
   # else:
   #    return 'unknown'
   if str(x) == '0.0': # float타입은 null 값도 0.0으로 받음!
      return 'Unknown'
   else:
      return x

df["SUBJECT"] = df.apply(lambda x: custom(x["SUBJECT"]), axis = 1)

In [37]:
df.iloc[10]

index                                0
title            디자인 패턴을 적용한 임베디드 시스템
author             엘레시아 화이트 지음 ;우정은 옮김
pub_date                    20130601.0
pub                           한빛미디어(주)
isbn_add_code                  13000.0
repub                         한빛미디어(주)
isbn                     9788968480195
ebook                                N
price                            26000
SUBJECT                        Unknown
pub_year                          2013
pub_month                           06
pub_day                             01
Name: 10, dtype: object

In [38]:
df.isnull().sum()

index                 0
title                 0
author                0
pub_date              0
pub                   0
isbn_add_code    245935
repub                 0
isbn             229570
ebook                 0
price                 0
SUBJECT               0
pub_year              0
pub_month             0
pub_day               0
dtype: int64

isbn_add_code 중복값 처리

In [135]:
df1 = df.copy()

In [136]:
df1.head(1)

,index,title,author,pub_date,pub,isbn_add_code,repub,isbn,ebook,price,SUBJECT,pub_year,pub_month,pub_day
0,0,21세기 사회주의,지은이: 콜린 바커 ;옮긴이: 이수현,20130528.0,(노동자연대) 다함께,3300.0,(노동자연대) 다함께,9788996911043,N,3000,3,2013,05,28

In [137]:
df1.duplicated().sum() # all columns

1765

In [139]:
df1.shape

(4434690, 14)

In [140]:
df2 = df1.copy()
df2 = df2.drop_duplicates(['title', 'author', 'pub_date', 'pub', 'isbn_add_code', 'isbn'], keep = 'first')
df2.shape # 3130개 삭제 확인

(4431560, 14)

In [141]:
df2.duplicated().value_counts()

False    4431560
dtype: int64

In [120]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4431560 entries, 0 to 4434960
Data columns (total 14 columns):
 #   Column         Dtype
---  ------         -----
 0   index          int64
 1   title          object
 2   author         object
 3   pub_date       object
 4   pub            object
 5   isbn_add_code  object
 6   repub          object
 7   isbn           object
 8   ebook          object
 9   price          object
 10  SUBJECT        object
 11  pub_year       object
 12  pub_month      object
 13  pub_day        object
dtypes: int64(1), object(13)
memory usage: 507.2+ MB

In [121]:
df2.isbn_add_code

0           3300.0
1           5810.0
2          63370.0
3          13360.0
4           3810.0
            ...
4434956      03810
4434957      03810
4434958      03810
4434959      03810
4434960      03810
Name: isbn_add_code, Length: 4431560, dtype: object

In [132]:
df2.head(5)

,index,title,author,pub_date,pub,isbn_add_code,repub,isbn,ebook,price,SUBJECT,pub_year,pub_month,pub_day
0,0,21세기 사회주의,지은이: 콜린 바커 ;옮긴이: 이수현,20130528.0,(노동자연대) 다함께,3300,(노동자연대) 다함께,9788996911043,N,3000,3,2013,05,28
1,0,질풍노도 연재 120,금강,20130701.0,문피아,5810,문피아,9791130515137,Y,100,8,2013,07,01
2,0,2013년 (중간시험 범위) 중간고사 기출예상문제 1-2,편집부,20130826.0,(주)천재교육,63370,(주)천재교육,9788926970546,N,10000,3,2013,08,26
3,0,부동산가격공시 및 토지취득보상법 판례해설,도승하,20130701.0,(주)리북스커뮤니티,13360,(주)리북스커뮤니티,9788964241110,N,18000,3,2013,07,01
4,0,장화홍련전 홍련에게 질투를 하여튼 못난 것들이 꼬라지하고는,신종훈,20130707.0,크리에이티브라이프,3810,크리에이티브라이프,9788997216048,N,3000,8,2013,07,07

In [124]:
df2.isbn_add_code = [re.sub('[^.0-9]', '', s) for s in df2.isbn_add_code]
df2.isbn_add_code.unique()

array(['3300.0', '5810.0', '63370.0', ..., '54200', '63350', '3680'],
      dtype=object)

In [125]:
df2.isbn_add_code = pd.to_numeric(df2.isbn_add_code)
df2.isbn_add_code.unique()

array([ 3300.,  5810., 63370., ..., 98381.,  3088., 13021.])

In [ ]:
# 영동님 레퍼런스 (수정하면 됨)
def custom(x):
   if '' in  str(x):
      return 'Unknown'
   else:
    return x

df["isbn_add_code"] = df.apply(lambda x: custom(x["isbn_add_code"]), axis = 1)

In [87]:
df1[df1.title == 'My Mentor Plus 3'] # title, author, pub_date, isbn_add_code, repub, isbn 기준으로 중복값 제거하기로 함

,index,title,author,pub_date,pub,isbn_add_code,repub,isbn,ebook,price,SUBJECT,pub_year,pub_month,pub_day
24868,0,My Mentor Plus 3,Mentor Holdings,20130301.0,(주)멘토홀딩스,68740.0,(주)멘토홀딩스,9788998005788,N,16000(세트가),7,2013,03,01
24871,0,My Mentor Plus 3,Mentor Holdings,20130301.0,(주)멘토홀딩스,nan,(주)멘토홀딩스,NaN,N,16000(세트가),7,2013,03,01
24876,0,My Mentor Plus 3,Mentor Holdings,20130301.0,(주)멘토홀딩스,nan,(주)멘토홀딩스,NaN,N,16000(세트가),7,2013,03,01

In [90]:
df1[df1.duplicated(['title', 'author', 'pub_date', 'pub', 'isbn_add_code', 'isbn'])]

,index,title,author,pub_date,pub,isbn_add_code,repub,isbn,ebook,price,SUBJECT,pub_year,pub_month,pub_day
24876,0,My Mentor Plus 3,Mentor Holdings,20130301.0,(주)멘토홀딩스,nan,(주)멘토홀딩스,NaN,N,16000(세트가),7,2013,03,01
28953,0,엉뚱 해결사 맥스의 부자 소동,트리나 위베 글 ;헬렌 플룩 그림 ; 김상일 옮김,20090301.0,(도서출판)키다리,74840.0,(도서출판)키다리,9788992365192,N,8500,8,2009,03,01
31538,0,"알프레드 밴드 교본 Sound Innovations, Bb TRUMPET, BOOK 1","Robert Sheldon, Peter Boonshaft, Dave Black, B...",20130320.0,도서출판(주)상지원,8670.0,도서출판(주)상지원,9788982717727,N,10000,6,2013,03,20
34456,0,애가,이두금,20040205.0,(도서출판)푸른터,nan,(도서출판)푸른터,NaN,N,8500,8,2004,02,05
34457,0,애가,이두금,20040205.0,(도서출판)푸른터,nan,(도서출판)푸른터,NaN,N,8500,8,2004,02,05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4432177,0,RuleBreakers 지구과학1 수능대비 모의고사 Season1(4회분),저자 : 이의연,20220930.0,(주식회사) 룰브레이커스,nan,(주식회사) 룰브레이커스,NaN,N,22000,4,2022,09,30
4432178,0,RuleBreakers 생명과학2 수능대비 모의고사 Season1(4회분),저자 : 정규용,20220930.0,(주식회사) 룰브레이커스,nan,(주식회사) 룰브레이커스,NaN,N,27000,4,2022,09,30
4432179,0,RuleBreakers 생명과학1 수능대비 모의고사 Season1(4회분),저자 : 장연수,20220930.0,(주식회사) 룰브레이커스,nan,(주식회사) 룰브레이커스,NaN,N,22000,4,2022,09,30
4432180,0,RuleBreakers 화학2 수능대비 모의고사 Season1(4회분),저자 : 김성배,20220930.0,(주식회사) 룰브레이커스,nan,(주식회사) 룰브레이커스,NaN,N,27000,4,2022,09,30
4432181,0,RuleBreakers 화학1 수능대비 모의고사 Season1(4회분),저자 : 박민석,20220930.0,(주식회사) 룰브레이커스,nan,(주식회사) 룰브레이커스,NaN,N,22000,4,2022,09,30

In [142]:
df2.to_csv(r'C:\Users\maeve\AIB 14\Section6\Codestates Project 2\data\joongdo_notyet.csv')

# 종일 붙잡고도 미완으로 던져서 송구합니다하하하