In [1]:
import pandas as pd
import numpy as np
import re
import datetime

In [2]:
df_c = pd.read_csv('chosun_new.csv')
df_c.shape

(730764, 4)

In [3]:
df_d = pd.read_csv('donga_new.csv')
df_d.shape

(316609, 4)

In [6]:
df_j = pd.read_csv('joongang_new.csv')
df_j.shape

(1944874, 4)

In [7]:
df_k = pd.read_csv('khan_new.csv')
df_k.shape

(971280, 4)

In [8]:
final = pd.concat([df_c,df_d,df_j,df_k])
final.shape

(3963527, 4)

In [12]:
final.head()

,Unnamed: 0,title,date,company
0,0,경제전문가·일반인 긴급 여론조사;“구조조정만이 살길”,2001-01-01,chosun
1,1,◇희망의 2001년… 다시 한번 뛰어보자;,2001-01-01,chosun
2,2,"클린턴이 임명한 테닛;부시, CIA국장 유임시킬듯;",2001-01-01,chosun
3,3,민주의원 이적 새해정국 파문;3명 자민련 입당… 교섭단체 가능 야 강력반발… 영수회...,2001-01-01,chosun
4,4,공적자금 투입 4개은 금융노조 전격 탈퇴;한빛·서울도 구조조정 동의,2001-01-01,chosun

In [11]:
final.tail()

        Unnamed: 0                                  title        date company
971275     1797631   상위 20% 소득 2.0% 줄어들 때 하위 20% 6.5% 줄었다  2022-11-21    khan
971276     1797632  가계소득 하위 20%, 지출 절반이 ‘식비’···먹고살기 힘들어졌다  2022-11-21    khan
971277     1797633    APEC 간 한덕수 총리 “빈살만, 윤 대통령 만남 좋았다더라”  2022-11-21    khan
971278     1797641       [조광희의 아이러니] 이태원 참사에서 되풀이되는 한국증후군  2022-11-21    khan
971279     1797646   개막식 빛낸 BTS 정국···사상 첫 중동·겨울 월드컵 '킥오프'  2022-11-21    khan

In [13]:
final = final.drop([final.columns[0]], axis=1)
final.head()

                                               title        date company
0                      경제전문가·일반인 긴급 여론조사;“구조조정만이 살길”  2001-01-01  chosun
1                            ◇희망의 2001년… 다시 한번 뛰어보자;  2001-01-01  chosun
2                       클린턴이 임명한 테닛;부시, CIA국장 유임시킬듯;  2001-01-01  chosun
3  민주의원 이적 새해정국 파문;3명 자민련 입당… 교섭단체 가능 야 강력반발… 영수회...  2001-01-01  chosun
4              공적자금 투입 4개은 금융노조 전격 탈퇴;한빛·서울도 구조조정 동의  2001-01-01  chosun

In [14]:
final.tail()

                                        title        date company
971275   상위 20% 소득 2.0% 줄어들 때 하위 20% 6.5% 줄었다  2022-11-21    khan
971276  가계소득 하위 20%, 지출 절반이 ‘식비’···먹고살기 힘들어졌다  2022-11-21    khan
971277    APEC 간 한덕수 총리 “빈살만, 윤 대통령 만남 좋았다더라”  2022-11-21    khan
971278       [조광희의 아이러니] 이태원 참사에서 되풀이되는 한국증후군  2022-11-21    khan
971279   개막식 빛낸 BTS 정국···사상 첫 중동·겨울 월드컵 '킥오프'  2022-11-21    khan

In [27]:
final.reset_index()
final

                                                    title        date company
0                           경제전문가·일반인 긴급 여론조사;“구조조정만이 살길”  2001-01-01  chosun
1                                 ◇희망의 2001년… 다시 한번 뛰어보자;  2001-01-01  chosun
2                            클린턴이 임명한 테닛;부시, CIA국장 유임시킬듯;  2001-01-01  chosun
3       민주의원 이적 새해정국 파문;3명 자민련 입당… 교섭단체 가능 야 강력반발… 영수회...  2001-01-01  chosun
4                   공적자금 투입 4개은 금융노조 전격 탈퇴;한빛·서울도 구조조정 동의  2001-01-01  chosun
...                                                   ...         ...     ...
971275               상위 20% 소득 2.0% 줄어들 때 하위 20% 6.5% 줄었다  2022-11-21    khan
971276              가계소득 하위 20%, 지출 절반이 ‘식비’···먹고살기 힘들어졌다  2022-11-21    khan
971277                APEC 간 한덕수 총리 “빈살만, 윤 대통령 만남 좋았다더라”  2022-11-21    khan
971278                   [조광희의 아이러니] 이태원 참사에서 되풀이되는 한국증후군  2022-11-21    khan
971279               개막식 빛낸 BTS 정국···사상 첫 중동·겨울 월드컵 '킥오프'  2022-11-21    khan

[3963527 rows x 3 columns]

In [107]:
final['year']= final['date'].str.slice(0,4)
final['month']= final['date'].str.slice(5,7)
final['day']= final['date'].str.slice(8,10)
final.sort_values('date', ascending=False)
final

,title,date,company,year,month,day
0,경제전문가일반인 긴급 여론조사구조조정만이 살길,2001-01-01,chosun,2001,01,01
1,희망의 년 다시 한번 뛰어보자,2001-01-01,chosun,2001,01,01
2,클린턴이 임명한 테닛부시 CIA국장 유임시킬듯,2001-01-01,chosun,2001,01,01
3,민주의원 이적 새해정국 파문명 자민련 입당 교섭단체 가능 야 강력반발 영수회담 거부 검토,2001-01-01,chosun,2001,01,01
4,공적자금 투입 개은 금융노조 전격 탈퇴한빛서울도 구조조정 동의,2001-01-01,chosun,2001,01,01
...,...,...,...,...,...,...
971275,상위 소득 줄어들 때 하위 줄었다,2022-11-21,khan,2022,11,21
971276,가계소득 하위 지출 절반이 식비먹고살기 힘들어졌다,2022-11-21,khan,2022,11,21
971277,APEC 간 한덕수 총리 빈살만 윤 대통령 만남 좋았다더라,2022-11-21,khan,2022,11,21
971278,조광희의 아이러니 이태원 참사에서 되풀이되는 한국증후군,2022-11-21,khan,2022,11,21
971279,개막식 빛낸 BTS 정국사상 첫 중동겨울 월드컵 킥오프,2022-11-21,khan,2022,11,21

In [111]:
final['date'] = pd.to_datetime(final.date)

In [116]:
final = final.sort_values('date')

In [117]:
final.to_csv("news_final.csv")

자연어처리시작

In [31]:
import platform 
print(platform.architecture())

('64bit', 'WindowsPE')

In [33]:
import konlpy

from konlpy.tag import Okt

from konlpy.utils import pprint

okt = Okt()

In [28]:
sample = final['title'].iloc[0]
sample

'경제전문가·일반인 긴급 여론조사;“구조조정만이 살길”'

In [34]:
print(okt.morphs(sample))

['경제', '전문가', '·', '일반인', '긴급', '여론조사', ';', '“', '구조조정', '만이', '살길', '”']

In [35]:
print(okt.nouns(sample))

['경제', '전문가', '일반인', '긴급', '여론조사', '구조조정', '살길']

In [70]:
def get_stopwords():
    stopwords = list()
    
    f = open('stopwords.txt', 'r', encoding='utf-8')
    
    while True:
        line = f.readline()
        if not line: break
        stopwords.append(line.strip())
        
    return stopwords

In [71]:
def okt_tokenizer(text):
    okt = Okt()
    text = re.sub(r'[^ ㄱ-ㅣ가-힣A-Za-z]', '', text) # 특수기호 제거
    stopwords = get_stopwords() # 불용어
    
    return [token for token in okt.nouns(text)
            if len(token) > 1 and token not in stopwords]

In [72]:
final['title'] = final['title'].str.replace("[^ ㄱ-ㅣ가-힣A-Za-z]","",regex=True)

In [73]:
final['title'].head()

0                            경제전문가일반인 긴급 여론조사구조조정만이 살길
1                                     희망의 년 다시 한번 뛰어보자
2                            클린턴이 임명한 테닛부시 CIA국장 유임시킬듯
3    민주의원 이적 새해정국 파문명 자민련 입당 교섭단체 가능 야 강력반발 영수회담 거부 검토
4                   공적자금 투입 개은 금융노조 전격 탈퇴한빛서울도 구조조정 동의
Name: title, dtype: object

In [74]:
stopwords = get_stopwords()
stopwords_except = final['title'].iloc[0:100].apply(okt.morphs)   #iloc 0:100 바꿔주기
stopwords_except = stopwords_except.apply(lambda x: [item for item in x if item not in stopwords])
stopwords_except

0                [경제, 전문가, 일반인, 긴급, 여론조사, 구조조정, 만이, 살길]
1                                  [희망, 다시, 한번, 뛰어, 보자]
2                [클린턴, 임명, 한, 테닛, 부시, CIA, 국장, 유임, 시킬듯]
3     [민주, 의원, 이적, 새해, 정국, 파문, 명, 자민련, 입당, 교섭단체, 가능,...
4     [공적자금, 투입, 개은, 금융, 노조, 전격, 탈퇴, 한빛, 서울, 도, 구조조정...
                            ...
95    [세계, 달린다, 미, 헤지펀드, 팔루, 조, 현, 국, 이사, 아시아, 투자, 총...
96                           [새해, 재테크, 기상도, 흐림, 안전, 최고]
97                            [절세, 재테크, 목돈, 이렇게, 굴려, 라]
98       [금융, 제도, 변화, 따른, 재테크, 전략, 만원, 안, 넘도록, 이자, 챙겨야]
99    [IT, 클럽, 뽑은, 최고, 영향력, 인, 사람, 말이라면, 믿는다, 위, 안철수...
Name: title, Length: 100, dtype: object

In [75]:
from collections import Counter

In [76]:
keywords = np.hstack(stopwords_except.values)
keywords

array(['경제', '전문가', '일반인', ..., '위', '안철수', '사장'], dtype='<U7')

In [77]:
keywords_counting = Counter(keywords)
keywords_counting.most_common(10)

[('한국', 16),
 ('도', 14),
 ('경제', 12),
 ('는', 12),
 ('세계', 12),
 ('한', 10),
 ('새해', 10),
 ('여론조사', 9),
 ('명', 7),
 ('진단', 7)]

In [96]:
def frequency(titles):
    #titles = final['title']
    titles = titles.str.replace("[^ ㄱ-ㅣ가-힣A-Za-z]","",regex=True)
    stopwords = get_stopwords()
    titles = titles.apply(okt.morphs)
    titles = titles.apply(lambda x: [item for item in x if item not in stopwords])
    keywords = np.hstack(titles.values)
    keywords_counting = Counter(keywords)
    #keywords_counting.most_common(10)
    print(keywords_counting)

In [97]:
titles = final['title'].iloc[101:130]

In [100]:
frequency(titles)

Counter({'적': 4, '은': 4, '는': 3, '표준': 3, '전쟁': 3, '대': 3, '사설': 3, 'D': 2, '램': 2, '반도체': 2, '세계': 2, '선': 2, '동기': 2, '명': 2, '통상': 2, '환경': 2, '확산': 2, '기본': 2, '세우자': 2, '북': 2, '대통령': 2, '미': 1, '대추격': 1, '흔들리는': 1, '아성': 1, '시장': 1, '절대': 1, '포기': 1, '안': 1, '한다': 1, 'NEC': 1, '부문': 1, '스기하': 1, '라': 1, '사장': 1, '지금': 1, '무선통신': 1, '없는': 1, '전자제품': 1, '블루투스': 1, '놓고': 1, '기업': 1, '선점': 1, '나서': 1, '대표': 1, '인': 1, '비디오테이프': 1, 'VHS': 1, '베타': 1, 'IMT': 1, '비': 1, '컴퓨터': 1, '운영': 1, '윈도': 1, '리눅스': 1, '개방': 1, '형': 1, 'MA': 1, '형등': 1, '새': 1, '뮤추얼펀드': 1, '등장': 1, '주가': 1, '유망': 1, '할까': 1, '테마주': 1, '눈': 1, '띄네': 1, '새해': 1, '증시': 1, '시계': 1, '제로': 1, '불황': 1, '이라지만': 1, '탈출': 1, '틈새': 1, '부동산': 1, '전문가': 1, '설문조사': 1, '주택': 1, '가격': 1, '점': 1, '여름': 1, '이후': 1, '바뀌는': 1, '제도': 1, '알': 1, '고': 1, '투자': 1, '합시다': 1, '총재': 1, '내일': 1, '영수회담': 1, '참석': 1, '할듯이': 1, '적은': 1, '국민': 1, '배신': 1, '강력': 1, '규탄': 1, '현대': 1, '건설': 1, '감원': 1, '더': 1, '나빠질것': 1, '무역': 1, '협회': 1, '본사': 1, '공': 1, '동': 1, '조': 1, '경제': 1, '침체': 1, '환율': 1, '유가': 1, '수입': 1, '규제': 1, '기온': 1, '급강하': 1, '서울': 1, '오늘': 1, '영하': 1, '도': 1, '룰': 1, '지키면': 1, '손': 1, '해보는': 1, '한국': 1, '불': 1, '원': 1, '개월': 1, '만에': 1, '최고': 1, '후세인': 1, '건재': 1, '개': 1, '신문': 1, '신년사': 1, '공동': 1, '연방제': 1, '방식': 1, '통일': 1, '지향': 1, '보안법': 1, '개정': 1, '시': 1, '부적절': 1, 'DJ': 1, '김정일': 1, '너무': 1, '믿으면': 1, '곤란': 1, '노태우': 1, '전대통령': 1, '강력한': 1, '정부': 1, '구현': 1, '김': 1, '민주': 1, '절차': 1, '어기': 1, '면': 1, '용납': 1, '안해': 1, '광화문': 1, '행사': 1, '장이': 1, '될': 1, '수': 1, '집권': 1, '세력': 1, '도덕': 1, '해이': 1, '도이치': 1, '전': 1, 'CIA': 1, '국장': 1, '부시': 1, '재임': 1, '중': 1, '미는': 1, '위협': 1, '직면': 1, '근로자': 1, '체불': 1, '임금': 1, '작년': 1, '배': 1, '만': 1, '여명': 1, '억': 1, '못': 1, '받아': 1, '방송위': 1, '상임': 1, '위원': 1, '이긍규': 1, '씨': 1, '석': 1, '임대': 1, '누가': 1, '주도했을까': 1, '청와대': 1, '기획': 1, '신': 1, '주류': 1, '작품': 1, '올': 1, '부정': 1, '전망': 1, '경': 1, '블록': 1, '화': 1, '수출': 1, '장벽': 1, '높아져': 1, '기자': 1, '수첩': 1, '일류': 1, '나서는': 1, '일본': 1})

#### 해야할일
  1. 한겨례 + 유튜브 뉴스 데이터 추가
  2. 불용어 사전추가 
  3. 자기단어사전 추가 (뭘해야하는지는 아는데 어떻게 하는지를 모르겠음)
  4. final 데이터 컬럼 쪼개기 (날짜 등)